<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .badge.badge-pill.circle-badge {
      font-size: 25%;
      border-radius: 50%;
      padding-right: .2em;
      padding-left: .2em;
    }
  </style>
</head>

<body>
  <div id="app" class="container mt-3">
    <nav class="navbar navbar-light bg-light">
      <a href="index.html" class="navbar-brand mb-0 h1 text-decoration-none">我的線上購物</a>
      <span>
        <i class="fas fa-shopping-cart"></i>
        <span class="badge badge-pill badge-primary">{{itemsInCart}}</span>
      </span>
    </nav>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">購物清單</h5>
          <button @click="emptyCart" type="button" class="btn btn-sm btn-outline-primary">清空購物車</button>
        </div>
        <div v-if="shoppingCart.length === 0" class="card pa-lg">
          <div class="card-body">您的購物車是空的</div>
        </div>
        <table v-else class="table table-striped">
          <thead>
            <tr>
              <th scope="col">品名</th>
              <th scope="col">數量</th>
              <th scope="col">單價</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in shoppingCart">
              <td>{{ item.title }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.price }}</td>
            </tr>
            <tr>
              <td></td>
              <td>總價</td>
              <td class="text-success font-weight-bolder">${{ totalPrice }}</td>
            </tr>
          </tbody>
        </table>
        <div class="card-footer text-muted d-flex justify-content-between">
          <a href="index.html" class="btn btn-outline-primary mr-sm">繼續購物</a>
          <a href=order.html v-show="shoppingCart.length !== 0" class="btn btn-primary">結帳</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous">
  </script>
  <script type="module" src="js/shopping-list.js"></script>
  <!-- For old browser -->
  <script nomodule src="js/shopping-list.js"></script>

</body>

</html>